<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brioal.pocketcode30">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LauncherActivity"
            android:theme="@style/AppTheme.LauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WebViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
           />
        <activity
            android:name=".activity.LoginAndRegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
           />
        <activity
            android:name=".activity.UserEditActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CollectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ShareListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.UserInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddMessageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ThemeChooseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AttentionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TagChooseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CommentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>